Repository pelicans45/glebooru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-build-client, docker-build-server

.pre-commit-config.yaml:

repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: mixed-line-ending


-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.10
    hooks:
    -   id: remove-tabs

-   repo: https://github.com/psf/black
    rev: '22.3.0'
    hooks:
      - id: black
        files: 'server/'
        types: [python]
        language_version: python3.9

-   repo: https://github.com/PyCQA/isort
    rev: '5.10.1'
    hooks:
    -   id: isort
        files: 'server/'
        types: [python]
        exclude: server/szurubooru/migrations/env.py
        additional_dependencies:
        -   toml

-   repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.0
    hooks:
    -   id: prettier
        files: client/js/
        exclude: client/js/.gitignore
        args: ['--config', 'client/.prettierrc.yml']

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.3.0
    hooks:
    -   id: eslint
        files: client/js/
        args: ['--fix']
        additional_dependencies:
        -   eslint-config-prettier

-   repo: https://gitlab.com/PyCQA/flake8
    rev: '4.0.1'
    hooks:
    -   id: flake8
        files: server/szurubooru/
        additional_dependencies:
        -   flake8-print
        args: ['--config=server/.flake8']

-   repo: local
    hooks:
    -   id: docker-build-client
        name: Docker - build client
        entry: bash -c 'docker build client/'
        language: system
        types: [file]
        files: client/
        pass_filenames: false

    -   id: docker-build-server
        name: Docker - build server
        entry: bash -c 'docker build server/'
        language: system
        types: [file]
        files: server/
        pass_filenames: false

    -   id: pytest
        name: pytest
        entry: bash -c 'docker run --rm -t $(docker build --target testing -q server/) szurubooru/'
        language: system
        types: [python]
        files: server/szurubooru/
        exclude: server/szurubooru/migrations/
        pass_filenames: false
        stages: [manual]

fail_fast: true
exclude: LICENSE.md

Update
  server/szurubooru/middleware/request_logger.py
Due: docker-build-server

Update
  client/html/top_navigation.tpl
  client/js/models/top_navigation.js
  client/js/views/top_navigation_view.js
Due: docker-build-client

Update
  client/js/models/top_navigation.js
Due: docker-build-client

Update
  client/js/views/top_navigation_view.js
Due: docker-build-client

Update
  client/css/post-list-view.styl
  client/html/posts_header.tpl
Due: docker-build-client

Update
  client/css/colors.styl
  client/css/core-forms.styl
  client/css/core-general.styl
  client/css/post-list-view.styl
  client/css/post-upload.styl
  server/szurubooru/func/comments.py
  server/szurubooru/func/favorites.py
  server/szurubooru/func/metrics.py
  server/szurubooru/func/net.py
  server/szurubooru/func/pool_categories.py
  server/szurubooru/func/pools.py
  server/szurubooru/func/posts.py
  server/szurubooru/func/scores.py
  server/szurubooru/func/snapshots.py
  server/szurubooru/func/tag_categories.py
  server/szurubooru/func/tags.py
  server/szurubooru/func/user_tokens.py
  server/szurubooru/func/users.py
  server/szurubooru/search/configs/post_search_config.py
  server/szurubooru/search/configs/util.py
Due: docker-build-client, docker-build-server

Update
  client/css/post-upload.styl
  server/requirements.txt
  server/szurubooru/api/info_api.py
  server/szurubooru/func/auth.py
  server/szurubooru/func/comments.py
  server/szurubooru/func/favorites.py
  server/szurubooru/func/image_hash.py
  server/szurubooru/func/images.py
  server/szurubooru/func/metrics.py
  server/szurubooru/func/net.py
  server/szurubooru/func/pool_categories.py
  server/szurubooru/func/pools.py
  server/szurubooru/func/posts.py
  server/szurubooru/func/scores.py
  server/szurubooru/func/snapshots.py
  server/szurubooru/func/tag_categories.py
  server/szurubooru/func/tags.py
  server/szurubooru/func/user_tokens.py
  server/szurubooru/func/users.py
  server/szurubooru/model/util.py
  server/szurubooru/search/configs/post_search_config.py
  server/szurubooru/search/configs/util.py
  server/szurubooru/search/executor.py
Due: docker-build-client, docker-build-server

Update
  server/requirements.txt
Due: docker-build-server

Update
  server/szurubooru/func/posts.py
Due: docker-build-server

Update
  server/szurubooru/search/configs/util.py
Due: docker-build-server

Update
  server/szurubooru/migrations/versions/adcd63ff76a2_add_md5_checksums_to_posts.py
Due: docker-build-server

Update
  client/config.yaml
  client/js/api.js
  client/js/controllers/post_list_controller_class.js
  client/js/controllers/post_upload_controller.js
  server/szurubooru/migrations/versions/63b5fb174a42_insert_anonymous_user.py
  server/szurubooru/migrations/versions/adcd63ff76a2_add_md5_checksums_to_posts.py
  server/szurubooru/model/metric.py
  server/szurubooru/model/pool_category.py
  server/szurubooru/model/post.py
  server/szurubooru/model/tag.py
  server/szurubooru/model/tag_category.py
Due: docker-build-client, docker-build-server

Update
  server/szurubooru/model/tag_category.py
Due: docker-build-server

Update
  client/css/core-general.styl
  client/js/controllers/post_list_controller_class.js
  client/js/controllers/post_upload_controller.js
  client/js/models/top_navigation.js
  server/szurubooru/model/post.py
Due: docker-build-client, docker-build-server

Update
  client/css/colors.styl
  client/css/core-general.styl
  client/docker-start.sh
  client/html/help.tpl
  client/html/help_tips.tpl
  client/js/api.js
  client/js/controllers/top_navigation_controller.js
  client/js/controls/tag_input_control.js
  client/js/models/top_navigation.js
  client/js/router.js
  client/js/util/uri.js
  client/js/views/top_navigation_view.js
  client/nginx.conf.docker
  server/nginx/proxy
  server/requirements.txt
  server/szurubooru/func/net.py
  server/szurubooru/model/post.py
  server/szurubooru/rest/app.py
Due: docker-build-client, docker-build-server

Update
  client/Dockerfile
  client/_oldbuild.js
  client/build.js
  client/css/comment-control.styl
  client/css/core-general.styl
  client/docker-start.sh
  client/js/controllers/pool_list_controller.js
  client/js/lens.js
  client/js/main.js
  client/js/models/post.js
  client/js/router.js
  client/js/vars.js
  client/nginx.docker.conf
  d
  docker-compose.dev.yml
  docker-compose.yml
  server/Dockerfile
  server/nginx/etc/dev
  server/szurubooru/model/comment.py
  server/szurubooru/model/metric.py
  server/szurubooru/model/post.py
  server/szurubooru/model/user.py
  server/szurubooru/search/configs/util.py
Due: docker-build-client, docker-build-server

Update
  client/css/core-general.styl
  client/css/post-list-view.styl
  client/css/user-list-view.styl
  client/html/index.html
  client/html/post_readonly_sidebar.tpl
  client/js/util/views.js
Due: docker-build-client

Update
  .gitignore
  client/.jscsrc
  client/Dockerfile
  client/build.js
  client/config.dev.yaml
  client/config.yaml
  client/css/core-general.styl
  client/css/post-list-view.styl
  client/css/post-main-view.styl
  client/css/post-upload.styl
  client/docker-start.sh
  client/html/post_readonly_sidebar.tpl
  client/html/tags_page.tpl
  client/js/api.js
  client/js/controllers/post_upload_controller.js
  client/js/controls/post_readonly_sidebar_control.js
  client/js/lens.js
  client/js/main.js
  client/js/models/post.js
  client/js/router.js
  client/js/util/misc.js
  client/js/util/polyfill.js
  client/js/util/views.js
  client/js/views/endless_page_view.js
  client/nginx.docker.conf
  client/sites.dev.yaml
  d
  docker-compose.dev.yml
  docker-compose.yml
  server/Dockerfile
  server/nginx/booru
  server/nginx/etc/dev
  server/nginx/proxy
  server/szurubooru/api/info_api.py
  server/szurubooru/config.py
  server/szurubooru/func/auth.py
  server/szurubooru/func/users.py
  server/szurubooru/rest/app.py
Due: docker-build-client, docker-build-server

Update
  .github/workflows/build-containers.yml
  .github/workflows/run-unit-tests.yml
Due: none

Update
  client/css/core-general.styl
  client/html/post_edit_sidebar.tpl
  client/js/controls/post_edit_sidebar_control.js
  client/js/models/top_navigation.js
  server/szurubooru/func/users.py
Due: docker-build-client, docker-build-server

Update
  .gitignore
  client/.dockerignore
  client/Dockerfile
  client/build.js
  client/js/controls/pool_input_control.js
  client/js/controls/post_edit_sidebar_control.js
  client/js/controls/tag_input_control.js
  docker-compose.dev.yml
  server/szurubooru/api/post_api.py
  server/szurubooru/search/executor.py
Due: docker-build-client, docker-build-server

Update
  client/Dockerfile
  client/css/core-forms.styl
  client/css/post-list-view.styl
  d
Due: docker-build-client

Update
  client/Dockerfile
Due: docker-build-client

Update
  d
  server/szurubooru/api/post_api.py
  server/szurubooru/config.py
  server/szurubooru/func/image_hash.py
  server/szurubooru/func/images.py
  server/szurubooru/func/net.py
  server/szurubooru/func/posts.py
  server/szurubooru/log.py
  server/szurubooru/middleware/request_logger.py
  server/szurubooru/rest/app.py
  server/szurubooru/rest/errors.py
  server/szurubooru/search/configs/util.py
Due: docker-build-server

Update
  client/build.js
  client/html/help_tips.tpl
  client/js/controls/post_content_control.js
  d
  docker-compose.dev.yml
Due: docker-build-client

Update
  client/config.dev.yaml
  client/config.yaml
  client/css/core-general.styl
  client/html/posts_header.tpl
  client/js/controllers/post_list_controller.js
  client/js/controllers/post_list_controller_class.js
  client/js/controllers/wildcard_controller.js
  client/js/controls/auto_complete_control.js
  client/js/controls/post_readonly_sidebar_control.js
  client/js/controls/posts_list_tag_auto_complete_control.js
  client/js/models/tag_list.js
  client/js/util/uri.js
  client/js/views/posts_header_view.js
  client/js/views/top_navigation_view.js
  d
  server/.dockerignore
  server/Dockerfile
  server/app.py
  server/docker-start.sh
  server/nginx/booru
  server/requirements.txt
  server/szurubooru/api/tag_api.py
  server/szurubooru/func/similar.py
  server/szurubooru/func/tags.py
  server/szurubooru/search/configs/util.py
  server/szurubooru/search/executor.py
Due: docker-build-client, docker-build-server

Update
  server/docker-start.sh
  server/szurubooru/api/post_api.py
  server/szurubooru/func/metrics.py
Due: docker-build-server

Update
  client/css/core-general.styl
  client/css/post-list-view.styl
Due: docker-build-client

Update
  client/Dockerfile.old
  client/html/help_tips.tpl
  client/html/tags_page.tpl
  client/js/controllers/top_navigation_controller.js
  client/js/controls/post_edit_sidebar_control.js
  client/js/controls/tag_input_control.js
  server/Dockerfile
  server/Dockerfile.old
  server/szurubooru/api/post_api.py
  server/szurubooru/api/tag_api.py
  server/szurubooru/func/posts.py
  server/szurubooru/func/snapshots.py
  server/szurubooru/search/configs/post_search_config.py
Due: docker-build-client, docker-build-server

Update
  client/html/post_content.tpl
  client/html/tag_input.tpl
  client/js/controls/post_content_control.js
  client/js/controls/tag_input_control.js
  client/js/views/login_view.js
  client/js/views/post_upload_view.js
  client/js/views/posts_page_view.js
  client/js/views/registration_view.js
  server/Dockerfile
  server/szurubooru/func/posts.py
Due: docker-build-client, docker-build-server

Update
  client/css/post-list-view.styl
  client/js/views/posts_header_view.js
Due: docker-build-client

Update
  client/css/comment-control.styl
  client/css/core-forms.styl
  client/css/core-general.styl
  client/css/tag-list-view.styl
  client/html/posts_header.tpl
  client/html/settings.tpl
  client/html/top_navigation.tpl
  client/js/models/settings.js
  client/js/models/top_navigation.js
  client/js/util/views.js
  client/js/views/top_navigation_view.js
Due: docker-build-client
