Repository pelicans45/glebooru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-build-client, docker-build-server

docker-build-client:
  name: Docker - build client
  entry: bash -c 'docker build client/'
  language: system
  pass_filenames: false

docker-build-server:
  name: Docker - build server
  entry: bash -c 'docker build server/'
  language: system
  pass_filenames: false

Update
  client/build.js
  client/package-lock.json
  client/package.json
Due: docker-build-client

Update
  client/Dockerfile
  client/build.js
Due: docker-build-client

Update
  client/build.js
  client/html/index.html
  client/js/models/metric.js
  client/js/util/views.js
  server/szurubooru/api/post_api.py
Due: docker-build-client, docker-build-server

Update
  client/Dockerfile
  client/build.js
  client/docker-start.sh
  client/nginx.conf.docker
  client/package-lock.json
  client/package.json
  server/szurubooru/api/password_reset_api.py
Due: docker-build-client, docker-build-server

Update
  client/html/help_tips.tpl
Due: docker-build-client

Update
  README.md
  client/config.yaml
  client/html/help_about.tpl
  client/html/help_tips.tpl
  client/html/pools_header.tpl
  client/html/post_main.tpl
  client/html/post_readonly_sidebar.tpl
  client/html/posts_header.tpl
  client/html/tags_header.tpl
  client/html/users_header.tpl
  client/js/controllers/post_list_controller.js
  client/js/controllers/post_main_controller.js
  client/js/controls/auto_complete_control.js
  client/js/controls/post_readonly_sidebar_control.js
  client/js/controls/tag_auto_complete_control.js
  client/js/controls/tag_input_control.js
  client/js/lens.js
  client/js/models/post_list.js
  client/js/util/views.js
  client/js/views/endless_page_view.js
  client/js/views/help_view.js
  client/js/views/manual_page_view.js
  client/js/views/posts_header_view.js
  client/nginx.conf.docker
  server/nginx/nginx.conf
  server/szurubooru/api/post_api.py
Due: docker-build-client, docker-build-server

Update
  client/css/core-forms.styl
  client/css/core-general.styl
  client/css/pager.styl
  client/css/post-main-view.styl
  client/html/help_keyboard.tpl
  client/html/help_tips.tpl
  client/html/post_readonly_sidebar.tpl
  client/html/posts_page.tpl
  client/html/settings.tpl
  client/js/api.js
  client/js/controllers/tag_list_controller.js
  client/js/controls/auto_complete_control.js
  client/js/controls/post_content_control.js
  client/js/controls/post_edit_sidebar_control.js
  client/js/controls/tag_auto_complete_control.js
  client/js/controls/tag_input_control.js
  client/js/models/settings.js
  client/js/models/tag_list.js
  client/js/tags.js
  client/js/util/misc.js
  client/js/util/search.js
  client/js/views/posts_header_view.js
  client/js/views/posts_page_view.js
  client/js/views/settings_view.js
  client/js/views/top_navigation_view.js
  server/nginx/nginx.conf
  server/nginx/proxy
  server/szurubooru/api/post_api.py
  server/szurubooru/api/tag_api.py
Due: docker-build-client, docker-build-server

Update
  client/html/posts_page.tpl
Due: docker-build-client

Update
  client/build.js
  client/css/colors.styl
  client/html/home_footer.tpl
  client/js/main.js
  client/sites/bury.pink/css/site-colors.styl
  client/sites/bury.pink/css/site.styl
  client/sites/flube.supply/css/colors.styl
  client/sites/flube.supply/css/site-colors.styl
  client/sites/flube.supply/css/site.styl
  client/sites/glegle.gallery/css/colors.styl
  client/sites/glegle.gallery/css/site-colors.styl
  client/sites/glegle.gallery/css/site.styl
  client/sites/jej.lol/css/colors.styl
  client/sites/jej.lol/css/site-colors.styl
  client/sites/jej.lol/css/site.styl
  client/sites/spikedog.school/css/colors.styl
  client/sites/spikedog.school/css/site-colors.styl
  client/sites/spikedog.school/css/site.styl
Due: docker-build-client

Update
  client/css/colors.styl
  client/js/controls/tag_auto_complete_control.js
  client/sites/flube.supply/css/site-colors.styl
  client/sites/flube.supply/css/site.styl
  client/sites/glegle.gallery/css/site-colors.styl
  client/sites/glegle.gallery/css/site.styl
  client/sites/jej.lol/css/site-colors.styl
  client/sites/spikedog.school/css/site-colors.styl
  client/sites/spikedog.school/css/site.styl
  client/sites/yosho.io/css/site-colors.styl
  client/sites/yosho.io/css/site.styl
  client/sites/yosho.io/img/app.png
  client/sites/yosho.io/img/favicon.png
  client/sites/yosho.io/img/splash.png
Due: docker-build-client

Update
  client/build.js
  client/config.yaml
  client/css/colors.styl
  client/js/lens.js
  client/sites/bury.pink/css/site-colors.styl
  client/sites/flube.supply/css/site-colors.styl
  client/sites/glegle.gallery/css/site-colors.styl
  client/sites/spikedog.school/css/site-colors.styl
  client/sites/yosho.io/css/site-colors.styl
  server/nginx/nginx.conf
Due: docker-build-client, docker-build-server

Update
  client/build.js
  docker-compose.yml
  server/Dockerfile
Due: docker-build-client, docker-build-server

Update
  client/build.js
  client/nginx.conf.docker
  server/nginx/nginx.conf
Due: docker-build-client, docker-build-server

Update
  client/docker-start.sh
  client/js/controllers/tag_list_controller.js
  client/js/controls/tag_auto_complete_control.js
  client/nginx.conf.docker
Due: docker-build-client

Update
  client/js/main.js
Due: docker-build-client

Update
  client/js/main.js
  client/js/views/posts_header_view.js
Due: docker-build-client

Update
  client/config.yaml
  client/js/controls/auto_complete_control.js
  client/js/models/tag_list.js
  client/js/tags.js
Due: docker-build-client

Update
  client/js/models/tag_list.js
Due: docker-build-client

Update
  client/Dockerfile
  client/build.js
  client/js/controls/tag_auto_complete_control.js
  client/js/lens.js
  server/Dockerfile
Due: docker-build-client, docker-build-server

Update
  client/js/controllers/post_upload_controller.js
  client/js/lens.js
  client/js/models/tag_list.js
  client/js/views/posts_header_view.js
Due: docker-build-client

Update
  client/js/lens.js
  client/js/models/post_list.js
Due: docker-build-client

Update
  server/szurubooru/func/posts.py
Due: docker-build-server

Update
  client/config.yaml
Due: docker-build-client

Update
  client/js/models/abstract_list.js
Due: docker-build-client

Update
  client/build.js
  client/html/not_found.tpl
  client/html/posts_header.tpl
  client/html/settings.tpl
  client/js/controllers/post_detail_controller.js
  client/js/controllers/post_list_controller.js
  client/js/controllers/post_main_controller.js
  client/js/controls/auto_complete_control.js
  client/js/controls/pool_input_control.js
  client/js/controls/tag_input_control.js
  client/js/main.js
  client/js/models/top_navigation.js
  client/js/router.js
  client/js/util/polyfill.js
  client/js/util/views.js
  client/js/views/endless_page_view.js
Due: docker-build-client

Update
  client/build.js
  client/js/controllers/user_controller.js
  client/js/controls/metric_header_control.js
  client/js/controls/post_metric_input_control.js
  client/js/controls/post_metric_list_control.js
  client/js/models/metric.js
Due: docker-build-client

Update
  client/html/posts_header.tpl
  client/js/controllers/metric_sorter_contoller.js
  client/js/controls/metric_header_control.js
  client/js/controls/post_content_control.js
  client/js/main.js
  client/js/views/endless_page_view.js
Due: docker-build-client

Update
  client/html/posts_header.tpl
Due: docker-build-client

Update
  server/nginx/nginx.conf
Due: docker-build-server

Update
  client/js/views/endless_page_view.js
Due: docker-build-client

Update
  client/css/post-list-view.styl
  client/js/controllers/metric_sorter_contoller.js
  client/js/controllers/post_detail_controller.js
  client/js/controllers/post_main_controller.js
  client/js/router.js
  client/js/views/endless_page_view.js
  server/nginx/nginx.conf
Due: docker-build-client, docker-build-server

Update
  client/js/controllers/pool_categories_controller.js
  client/js/controllers/pool_list_controller.js
  client/js/controllers/post_detail_controller.js
  client/js/controllers/tag_categories_controller.js
  client/js/controllers/tag_list_controller.js
Due: docker-build-client

Update
  client/css/help-view.styl
  client/html/file_dropper.tpl
  client/html/help_about.tpl
  client/html/help_keyboard.tpl
  client/js/router.js
  client/js/util/polyfill.js
Due: docker-build-client

Update
  client/js/models/post.js
Due: docker-build-client

Path conditions:
  docker-build-client: any of: client/, but not: LICENSE.md
  docker-build-server: any of: server/, but not: LICENSE.md
