Repository pelicans45/glebooru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-build-client, docker-build-server

.pre-commit-config.yaml:

repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: mixed-line-ending


-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.10
    hooks:
    -   id: remove-tabs

-   repo: https://github.com/psf/black
    rev: '22.3.0'
    hooks:
      - id: black
        files: 'server/'
        types: [python]
        language_version: python3.9

-   repo: https://github.com/PyCQA/isort
    rev: '5.10.1'
    hooks:
    -   id: isort
        files: 'server/'
        types: [python]
        exclude: server/szurubooru/migrations/env.py
        additional_dependencies:
        -   toml

-   repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.0
    hooks:
    -   id: prettier
        files: client/js/
        exclude: client/js/.gitignore
        args: ['--config', 'client/.prettierrc.yml']

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.3.0
    hooks:
    -   id: eslint
        files: client/js/
        args: ['--fix']
        additional_dependencies:
        -   eslint-config-prettier

-   repo: https://gitlab.com/PyCQA/flake8
    rev: '4.0.1'
    hooks:
    -   id: flake8
        files: server/szurubooru/
        additional_dependencies:
        -   flake8-print
        args: ['--config=server/.flake8']

-   repo: local
    hooks:
    -   id: docker-build-client
        name: Docker - build client
        entry: bash -c 'docker build client/'
        language: system
        types: [file]
        files: client/
        pass_filenames: false

    -   id: docker-build-server
        name: Docker - build server
        entry: bash -c 'docker build server/'
        language: system
        types: [file]
        files: server/
        pass_filenames: false

    -   id: pytest
        name: pytest
        entry: bash -c 'docker run --rm -t $(docker build --target testing -q server/) szurubooru/'
        language: system
        types: [python]
        files: server/szurubooru/
        exclude: server/szurubooru/migrations/
        pass_filenames: false
        stages: [manual]

fail_fast: true
exclude: LICENSE.md

Update
  client/css/post-main-view.styl
  client/html/file_dropper.tpl
  client/html/post_readonly_sidebar.tpl
  client/html/settings.tpl
  client/js/controls/file_dropper_control.js
  client/js/models/post.js
  client/js/views/post_upload_view.js
Due: docker-build-client

Update server Docker image
  server/Dockerfile
Due: docker-build-server

Update
  server/nginx/nginx.conf
Due: docker-build-server

Update
  server/nginx/proxy
Due: docker-build-server

Update
  client/img/app.png
  client/img/favicon.png
  client/img/splash.png
Due: docker-build-client

Update
  server/Dockerfile
Due: docker-build-server

Update
  client/Dockerfile
  server/Dockerfile
Due: docker-build-client, docker-build-server

Update
  client/package-lock.json
Due: docker-build-client

Update
  client/html/post_upload.tpl
Due: docker-build-client

Update
  client/html/posts_header.tpl
Due: docker-build-client

Update
  server/Dockerfile
  server/requirements.txt
Due: docker-build-server

Update
  server/.dockerignore
Due: docker-build-server

Update
  server/Dockerfile
  server/requirements.txt
  server/szurubooru/func/image_hash.py
Due: docker-build-server

Update
  server/docker-start.sh
Due: docker-build-server

Update
  server/Dockerfile
  server/docker-start.sh
Due: docker-build-server

Update
  server/docker-start.sh
  server/szurubooru/func/image_hash.py
Due: docker-build-server

Update
  docker-compose.yml
Due: none

Update
  client/css/colors.styl
  client/css/core-forms.styl
  client/css/core-general.styl
  client/html/help.tpl
  client/html/help_about.tpl
  client/html/help_keyboard.tpl
  client/html/help_tips.tpl
  client/html/index.htm
  client/html/post_readonly_sidebar.tpl
  client/html/settings.tpl
  client/html/user_registration.tpl
  client/js/controllers/home_controller.js
  client/js/controllers/post_detail_controller.js
  client/js/controllers/post_list_controller.js
  client/js/controllers/post_main_controller.js
  client/js/controllers/post_upload_controller.js
  client/js/controllers/settings_controller.js
  client/js/controls/pool_input_control.js
  client/js/controls/tag_input_control.js
  client/js/models/post_list.js
  client/js/models/settings.js
  client/js/models/top_navigation.js
  client/js/util/markdown.js
  client/js/util/views.js
  client/js/views/help_view.js
  client/js/views/home_view.js
  client/js/views/post_main_view.js
  client/nginx.conf.docker
  server/nginx/nginx.conf
  server/szurubooru/api/post_api.py
  server/szurubooru/search/executor.py
Due: docker-build-client, docker-build-server

Update
  client/css/colors.styl
  client/html/login.tpl
  client/html/post_readonly_sidebar.tpl
  client/js/controllers/post_list_controller.js
  client/js/controllers/post_main_controller.js
  client/js/controllers/post_upload_controller.js
  client/js/controls/pool_input_control.js
  client/js/controls/tag_input_control.js
  client/js/util/search.js
  client/js/views/help_view.js
  client/js/views/home_view.js
Due: docker-build-client

Update
  client/html/post_main.tpl
  client/js/controllers/post_list_controller.js
  client/js/controllers/post_main_controller.js
  client/js/models/post_list.js
  client/js/util/views.js
  client/js/views/posts_header_view.js
Due: docker-build-client

Update
  client/html/help_tips.tpl
  client/js/controllers/top_navigation_controller.js
  client/js/util/keyboard.js
  client/js/views/posts_page_view.js
Due: docker-build-client

Update
  client/build.js
  client/css/colors.styl
  client/css/core-general.styl
  client/css/custom/bury.css
  client/css/custom/glegle.css
  client/html/help_keyboard.tpl
  client/html/index.htm
  client/html/pools_page.tpl
  client/html/tags_page.tpl
  client/js/filter.js
  client/js/models/post_list.js
  client/js/views/posts_page_view.js
  server/nginx/nginx.conf
Due: docker-build-client, docker-build-server

Update
  client/build.js
Due: docker-build-client

Update
  client/css/core-forms.styl
  client/css/core-general.styl
  client/html/index.htm
  client/js/controllers/top_navigation_controller.js
  client/js/filter.js
  client/js/views/posts_header_view.js
  server/nginx/nginx.conf
Due: docker-build-client, docker-build-server

Update
  client/html/file_dropper.tpl
Due: docker-build-client

Update
  client/css/custom/bury.pink.css
  client/css/custom/glegle.gallery.css
Due: docker-build-client

Update
  client/css/colors.styl
  client/css/core-general.styl
  client/css/custom/bury.pink.css
  client/css/custom/glegle.gallery.css
  client/css/post-upload.styl
  client/css/vars.styl
  client/html/help_tips.tpl
  client/html/post_upload.tpl
  client/js/api.js
  client/js/controllers/post_upload_controller.js
  client/js/controllers/top_navigation_controller.js
  client/js/filter.js
  client/js/models/post_list.js
  client/js/models/tag_list.js
  client/js/models/top_navigation.js
  client/js/views/post_upload_view.js
Due: docker-build-client

Update
  client/css/colors.styl
  client/css/comment-control.styl
  client/css/comment-list-view.styl
  client/css/core-forms.styl
  client/css/core-general.styl
  client/css/expander-control.styl
  client/css/help-view.styl
  client/css/metric-sorter-view.styl
  client/css/nprogress.styl
  client/css/pager.styl
  client/css/pool-categories-view.styl
  client/css/pool-input-control.styl
  client/css/pool-list-view.styl
  client/css/post-content-control.styl
  client/css/post-list-view.styl
  client/css/post-main-view.styl
  client/css/post-metric-input.styl
  client/css/post-notes-overlay-control.styl
  client/css/post-upload.styl
  client/css/snapshots-list-view.styl
  client/css/tag-categories-view.styl
  client/css/tag-input-control.styl
  client/css/tag-list-view.styl
  client/css/tag-view.styl
  client/css/user-list-view.styl
  client/css/user-registration.styl
  client/css/user-view.styl
  client/css/vars.styl
  client/js/controllers/top_navigation_controller.js
  server/nginx/nginx.conf
Due: docker-build-client, docker-build-server

Update
  client/build.js
  client/css/colors.styl
  client/css/comment-control.styl
  client/css/comment-list-view.styl
  client/css/core-forms.styl
  client/css/core-general.styl
  client/css/expander-control.styl
  client/css/metric-sorter-view.styl
  client/css/nprogress.styl
  client/css/pager.styl
  client/css/pool-categories-view.styl
  client/css/pool-input-control.styl
  client/css/pool-list-view.styl
  client/css/pool-view.styl
  client/css/post-content-control.styl
  client/css/post-list-view.styl
  client/css/post-main-view.styl
  client/css/post-metric-input.styl
  client/css/post-notes-overlay-control.styl
  client/css/post-upload.styl
  client/css/snapshots-list-view.styl
  client/css/tag-categories-view.styl
  client/css/tag-input-control.styl
  client/css/tag-list-view.styl
  client/css/tag-view.styl
  client/css/user-list-view.styl
  client/css/user-registration.styl
  client/css/user-view.styl
Due: docker-build-client
