Repository pelicans45/glebooru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-build-client, docker-build-server

.pre-commit-config.yaml:

repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: mixed-line-ending


-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.10
    hooks:
    -   id: remove-tabs

-   repo: https://github.com/psf/black
    rev: '22.3.0'
    hooks:
      - id: black
        files: 'server/'
        types: [python]
        language_version: python3.9

-   repo: https://github.com/PyCQA/isort
    rev: '5.10.1'
    hooks:
    -   id: isort
        files: 'server/'
        types: [python]
        exclude: server/szurubooru/migrations/env.py
        additional_dependencies:
        -   toml

-   repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.0
    hooks:
    -   id: prettier
        files: client/js/
        exclude: client/js/.gitignore
        args: ['--config', 'client/.prettierrc.yml']

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.3.0
    hooks:
    -   id: eslint
        files: client/js/
        args: ['--fix']
        additional_dependencies:
        -   eslint-config-prettier

-   repo: https://gitlab.com/PyCQA/flake8
    rev: '4.0.1'
    hooks:
    -   id: flake8
        files: server/szurubooru/
        additional_dependencies:
        -   flake8-print
        args: ['--config=server/.flake8']

-   repo: local
    hooks:
    -   id: docker-build-client
        name: Docker - build client
        entry: bash -c 'docker build client/'
        language: system
        types: [file]
        files: client/
        pass_filenames: false

    -   id: docker-build-server
        name: Docker - build server
        entry: bash -c 'docker build server/'
        language: system
        types: [file]
        files: server/
        pass_filenames: false

    -   id: pytest
        name: pytest
        entry: bash -c 'docker run --rm -t $(docker build --target testing -q server/) szurubooru/'
        language: system
        types: [python]
        files: server/szurubooru/
        exclude: server/szurubooru/migrations/
        pass_filenames: false
        stages: [manual]

fail_fast: true
exclude: LICENSE.md

Improvement to deploy script
  deploy
Due: none

Fix PNG thumbnails
  client/js/models/post.js
Due: docker-build-client

Integrate upstream fixes
  client/js/api.js
  client/js/controls/auto_complete_control.js
  client/js/controls/file_dropper_control.js
  client/js/controls/pool_auto_complete_control.js
  client/js/controls/pool_input_control.js
  client/js/controls/post_list_tag_auto_complete_control.js
  client/js/controls/post_notes_overlay_control.js
  client/js/controls/tag_auto_complete_control.js
  client/js/controls/tag_input_control.js
  client/js/models/tag_list.js
  client/js/router.js
  client/js/tags.js
  client/js/util/misc.js
  client/js/util/views.js
  client/js/views/home_view.js
  client/js/views/pool_merge_view.js
  client/js/views/pools_header_view.js
  client/js/views/post_merge_view.js
  client/js/views/posts_header_view.js
  client/js/views/tag_merge_view.js
  client/js/views/tags_header_view.js
  server/szurubooru/func/pool_categories.py
  server/szurubooru/func/pools.py
  server/szurubooru/func/tag_categories.py
  server/szurubooru/func/tags.py
  server/szurubooru/func/users.py
  server/szurubooru/func/util.py
  server/szurubooru/rest/app.py
  server/szurubooru/search/parser.py
  server/szurubooru/tests/func/test_tags.py
Due: docker-build-client, docker-build-server

Update
  deploy
Due: none

Add granular tag edit permissions
  server/config.yaml.dist
  server/szurubooru/api/post_api.py
  server/szurubooru/tests/api/test_post_updating.py
Due: docker-build-server

Update
  client/html/post_readonly_sidebar.tpl
Due: docker-build-client

Update
  client/config.yaml
Due: docker-build-client

Update
  client/Dockerfile
  client/build.js
  client/build.test.js
  client/bun.lock
  client/docker-start.sh
  client/nginx.docker.conf
  client/package-lock.json
  client/package.json
  docker-compose.dev.yml
Due: docker-build-client

Update
  client/build.js
  client/html/index.html
  client/nginx.docker.conf
  client/sites.yaml
  server/szurubooru/api/__init__.py
  server/szurubooru/api/sitemap_api.py
  server/szurubooru/rest/app.py
Due: docker-build-client, docker-build-server

Update
  PERFORMANCE_UPGRADE.md
  client/nginx.docker.conf
  docker-compose.dev.yml
  docker-compose.yml
  scripts/benchmark-http-servers.sh
  scripts/benchmark-postgres-aio.sh
  scripts/migrate-postgres-16-to-18.sh
  server/Dockerfile
  server/docker-start-granian.sh
  server/docker-start.sh
  server/nginx/etc/dev
  server/postgres/postgresql-io_uring.conf
  server/postgres/postgresql.conf
  server/requirements.txt
  server/szurubooru/api/post_api.py
  server/szurubooru/benchmark_post_fetch.py
  server/szurubooru/db.py
  server/szurubooru/func/image_hash.py
  server/szurubooru/func/images.py
  server/szurubooru/func/posts.py
  server/szurubooru/migrations/versions/54de8acc6cef_add_default_pool_category.py
  server/szurubooru/migrations/versions/5f00af3004a4_add_default_tag_category.py
  server/szurubooru/migrations/versions/9837fc981ec7_add_order_to_tag_names.py
  server/szurubooru/migrations/versions/9ef1a1643c2a_update_user_table_for_hardened_passwords.py
  server/szurubooru/model/base.py
  server/szurubooru/model/metric.py
  server/szurubooru/model/pool.py
  server/szurubooru/model/pool_category.py
  server/szurubooru/model/post.py
  server/szurubooru/model/tag.py
  server/szurubooru/model/tag_category.py
  server/szurubooru/rest/app.py
  server/szurubooru/search/executor.py
Due: docker-build-client, docker-build-server

Update
  server/szurubooru/api/post_api.py
  server/szurubooru/benchmark_post_listings.py
  server/szurubooru/db.py
  server/szurubooru/func/posts.py
  server/szurubooru/func/scores.py
  server/szurubooru/search/configs/post_search_config.py
  server/szurubooru/search/executor.py
Due: docker-build-server

Update
  client/js/controllers/post_list_controller_class.js
  client/js/controllers/post_main_controller.js
  client/js/models/post.js
  server/postgres/postgresql.conf
  server/szurubooru/db.py
  server/szurubooru/func/pool_categories.py
  server/szurubooru/func/pools.py
  server/szurubooru/func/posts.py
  server/szurubooru/func/similar.py
  server/szurubooru/func/tag_categories.py
  server/szurubooru/func/tags.py
  server/szurubooru/migrations/versions/f3b2c9e1a1b2_add_post_tag_and_tag_name_indexes.py
  server/szurubooru/search/configs/post_search_config.py
Due: docker-build-client, docker-build-server

Update
  client/js/controls/post_edit_sidebar_control.js
  client/js/controls/post_readonly_sidebar_control.js
  client/js/models/post.js
  doc/performance-optimization-plan.md
  server/Dockerfile
  server/szurubooru/func/comments.py
  server/szurubooru/func/posts.py
  server/szurubooru/func/tags.py
  server/szurubooru/migrations/versions/a1b2c3d4e5f6_add_gin_index_to_signature_words.py
  server/szurubooru/model/comment.py
  server/szurubooru/model/metric.py
  server/szurubooru/model/pool.py
  server/szurubooru/model/post.py
  server/szurubooru/model/tag.py
  server/szurubooru/search/configs/post_search_config.py
  server/szurubooru/search/executor.py
  server/szurubooru/search/parser.py
  server/szurubooru/tests/func/test_posts.py
  server/szurubooru/tests/func/test_snapshots.py
Due: docker-build-client, docker-build-server

Update
  client/docker-start.sh
  client/js/controls/post_readonly_sidebar_control.js
  doc/performance-optimization-plan.md
Due: docker-build-client

Update
  d
  docker-compose.dev.yml
  server/szurubooru/benchmark_reverse_search.py
  server/szurubooru/dev_seed_near_duplicates.py
  server/szurubooru/func/posts.py
  server/szurubooru/merge_near_duplicates.py
Due: docker-build-server

Update
  client/sites.dev.yaml
  client/sites/boorudev/css/site-colors.styl
  client/sites/boorudev/css/site.styl
  client/sites/boorudev/img/favicon.png
  scripts/benchmark_tag_exclusions.py
Due: docker-build-client

Update
  .gitignore
  AGENTS.md
  CLAUDE.md
  client/Dockerfile
  client/bun.lock
  client/js/api.js
  client/js/controls/auto_complete_control.js
  client/js/controls/tag_auto_complete_control.js
  client/js/main.js
  client/js/models/post.js
  client/js/models/tag_list.js
  client/js/views/endless_page_view.js
  client/js/views/manual_page_view.js
  client/nginx.docker.conf
  client/package.json
  client/playwright.config.cjs
  client/tests/e2e/autocomplete.spec.js
  client/tests/e2e/gallery.spec.js
  client/tests/e2e/helpers.js
  client/tests/e2e/post.spec.js
  client/tests/e2e/render_race.spec.js
  client/tests/e2e/search.spec.js
  client/tests/e2e/upload.spec.js
  scripts/migrate-postgres-16-to-18.sh
  server/szurubooru/api/tag_api.py
  server/szurubooru/func/image_hash.py
  server/szurubooru/func/posts.py
  server/szurubooru/tests/api/test_post_creating.py
  server/szurubooru/tests/api/test_post_retrieving.py
  server/szurubooru/tests/search/configs/test_post_search_config.py
Due: docker-build-client, docker-build-server

Update
  client/build.test.js
  client/js/api.js
  client/js/controllers/post_list_controller_class.js
  client/js/controllers/tag_list_controller.js
  client/js/models/pool_list.js
  client/js/models/post_list.js
  client/js/models/snapshot_list.js
  client/js/models/tag_list.js
  client/js/models/user_list.js
  client/js/views/endless_page_view.js
  client/js/views/manual_page_view.js
  client/tests/e2e/render_race.spec.js
  server/szurubooru/api/post_api.py
  server/szurubooru/facade.py
  server/szurubooru/func/favorites.py
  server/szurubooru/func/scores.py
Due: docker-build-client, docker-build-server

Update
  client/js/controllers/pool_controller.js
  client/js/controllers/post_main_controller.js
  client/js/controllers/tag_controller.js
  client/js/controllers/user_controller.js
  client/js/router.js
  server/szurubooru/api/post_api.py
  server/szurubooru/func/cache.py
  server/szurubooru/func/net.py
  server/szurubooru/func/pool_categories.py
  server/szurubooru/func/similar.py
  server/szurubooru/func/tag_categories.py
  server/szurubooru/search/executor.py
Due: docker-build-client, docker-build-server

Update
  client/tests/e2e/gallery.spec.js
  client/tests/e2e/helpers.js
  client/tests/e2e/navigation.spec.js
  client/tests/e2e/post.spec.js
  client/tests/e2e/search.spec.js
  server/szurubooru/func/favorites.py
  server/szurubooru/func/posts.py
  server/szurubooru/func/scores.py
Due: docker-build-client, docker-build-server

Restore previous auth on login failure
  client/js/api.js
Due: docker-build-client

Add soft_exclude support to random-post
  server/szurubooru/api/post_api.py
  server/szurubooru/func/random_post.py
  server/szurubooru/func/tags.py
Due: docker-build-server

Update
  AGENTS.md
  CLAUDE.md
Due: none

Update
  client/build.js
Due: docker-build-client

Prevent saving with pending text in tag inputs
  client/js/controls/post_edit_sidebar_control.js
  client/js/controls/tag_input_control.js
  client/js/util/views.js
  client/js/views/tag_edit_view.js
Due: docker-build-client

Mass editing improvements
  client/css/core-forms.styl
  client/css/post-list-view.styl
  client/html/posts_header.tpl
  client/js/controllers/post_list_controller_class.js
  client/js/views/posts_header_view.js
  client/js/views/posts_page_view.js
Due: docker-build-client

Refactor upload similarity checks
  client/js/controllers/post_upload_controller.js
  server/szurubooru/api/post_api.py
  server/szurubooru/func/image_hash.py
  server/szurubooru/func/posts.py
Due: docker-build-client, docker-build-server

Keep upload warnings visible until user action
  client/js/controllers/post_upload_controller.js
  client/js/util/views.js
  client/js/views/post_upload_view.js
Due: docker-build-client

Fix /all-tags cache collisions across request variants
  server/szurubooru/api/tag_api.py
  server/szurubooru/search/executor.py
  server/szurubooru/tests/api/test_tag_retrieving.py
Due: docker-build-server

Replace in-memory cache with Redis and scoped invalidation
  doc/example.env
  docker-compose.dev.yml
  docker-compose.yml
  server/config.yaml.dist
  server/requirements.txt
  server/szurubooru/api/comment_api.py
  server/szurubooru/api/password_reset_api.py
  server/szurubooru/api/pool_api.py
  server/szurubooru/api/pool_category_api.py
  server/szurubooru/api/post_api.py
  server/szurubooru/api/tag_api.py
  server/szurubooru/api/tag_category_api.py
  server/szurubooru/api/user_api.py
  server/szurubooru/config.py
  server/szurubooru/func/cache.py
  server/szurubooru/func/cache_invalidation.py
  server/szurubooru/func/pool_categories.py
  server/szurubooru/func/tag_categories.py
  server/szurubooru/middleware/__init__.py
  server/szurubooru/middleware/cache_purger.py
  server/szurubooru/search/executor.py
  server/szurubooru/tests/api/test_password_reset.py
  server/szurubooru/tests/api/test_post_updating.py
  server/szurubooru/tests/func/test_cache.py
  server/szurubooru/tests/search/test_executor.py
Due: docker-build-server

Centralize client tag cache refresh on post tag changes
  client/js/controllers/post_main_controller.js
  client/js/controllers/post_upload_controller.js
  client/js/models/post.js
Due: docker-build-client

Remove /all-tags caching for logged-in users
  client/js/models/tag_list.js
  server/szurubooru/api/tag_api.py
Due: docker-build-client, docker-build-server

Make Redis cache recovery purge all discovered namespaces
  server/szurubooru/func/cache.py
  server/szurubooru/tests/func/test_cache.py
Due: docker-build-server

Update help page links to add boymoders.com and a separator
  AGENTS.md
  client/html/help_about.tpl
Due: docker-build-client
