Repository pelicans45/glebooru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-build-client, docker-build-server

.pre-commit-config.yaml:

repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: mixed-line-ending


-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.10
    hooks:
    -   id: remove-tabs

-   repo: https://github.com/psf/black
    rev: '22.3.0'
    hooks:
      - id: black
        files: 'server/'
        types: [python]
        language_version: python3.9

-   repo: https://github.com/PyCQA/isort
    rev: '5.10.1'
    hooks:
    -   id: isort
        files: 'server/'
        types: [python]
        exclude: server/szurubooru/migrations/env.py
        additional_dependencies:
        -   toml

-   repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.0
    hooks:
    -   id: prettier
        files: client/js/
        exclude: client/js/.gitignore
        args: ['--config', 'client/.prettierrc.yml']

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.3.0
    hooks:
    -   id: eslint
        files: client/js/
        args: ['--fix']
        additional_dependencies:
        -   eslint-config-prettier

-   repo: https://gitlab.com/PyCQA/flake8
    rev: '4.0.1'
    hooks:
    -   id: flake8
        files: server/szurubooru/
        additional_dependencies:
        -   flake8-print
        args: ['--config=server/.flake8']

-   repo: local
    hooks:
    -   id: docker-build-client
        name: Docker - build client
        entry: bash -c 'docker build client/'
        language: system
        types: [file]
        files: client/
        pass_filenames: false

    -   id: docker-build-server
        name: Docker - build server
        entry: bash -c 'docker build server/'
        language: system
        types: [file]
        files: server/
        pass_filenames: false

    -   id: pytest
        name: pytest
        entry: bash -c 'docker run --rm -t $(docker build --target testing -q server/) szurubooru/'
        language: system
        types: [python]
        files: server/szurubooru/
        exclude: server/szurubooru/migrations/
        pass_filenames: false
        stages: [manual]

fail_fast: true
exclude: LICENSE.md

Update
  client/html/help_search_general.tpl
  server/szurubooru/api/embed_api.py
Due: docker-build-client, docker-build-server

Update
  client/js/controls/post_edit_sidebar_control.js
  client/js/util/views.js
Due: docker-build-client

Update
  client/css/core-forms.styl
  client/html/settings.tpl
  client/html/tag_input.tpl
  client/js/controllers/post_main_controller.js
  client/js/controllers/post_upload_controller.js
  client/js/controllers/user_controller.js
  client/js/controls/post_edit_sidebar_control.js
  client/js/controls/tag_input_control.js
  client/js/util/misc.js
  client/js/views/post_upload_view.js
  server/szurubooru/api/user_api.py
  server/szurubooru/func/mime.py
Due: docker-build-client, docker-build-server

Update
  client/css/post-list-view.styl
  client/css/post-main-view.styl
  client/html/posts_header.tpl
  client/html/users_page.tpl
  client/js/views/posts_header_view.js
  server/szurubooru/search/configs/post_search_config.py
Due: docker-build-client, docker-build-server

Update
  client/css/post-list-view.styl
Due: docker-build-client

Update
  client/html/tag_summary.tpl
Due: docker-build-client

Update
  client/config.yaml
  client/html/user_summary.tpl
  server/szurubooru/api/user_api.py
  server/szurubooru/search/configs/user_search_config.py
Due: docker-build-client, docker-build-server

Update
  client/css/core-general.styl
  client/html/help_tips.tpl
  client/js/views/top_navigation_view.js
Due: docker-build-client

Update
  client/config.yaml
Due: docker-build-client

Fix random-image
  server/szurubooru/api/post_api.py
Due: docker-build-server

Update
  server/szurubooru/func/util.py
Due: docker-build-server

Update
  client/js/models/post.js
Due: docker-build-client

Update
  client/Dockerfile
  client/html/post_content.tpl
  client/html/post_main.tpl
  client/js/controllers/post_upload_controller.js
  client/js/models/post.js
  client/js/views/post_main_view.js
  client/nginx.docker.conf
  client/sites.dev.yaml
  server/Dockerfile
  server/nginx/etc/dev
Due: docker-build-client, docker-build-server

Update
  client/js/models/post.js
  client/js/views/post_main_view.js
Due: docker-build-client

Update
  client/html/post_content.tpl
Due: docker-build-client

Update
  docker-compose.dev.yml
  server/docker-start.sh
Due: docker-build-server

Update
  client/css/core-general.styl
  client/html/help_about.tpl
  client/html/help_tips.tpl
  client/html/post_readonly_sidebar.tpl
Due: docker-build-client

Update
  client/css/core-general.styl
  client/js/api.js
  server/nginx/booru
  server/nginx/etc/dev
Due: docker-build-client, docker-build-server

Update
  server/nginx/booru
  server/nginx/etc/dev
Due: docker-build-server

Update
  client/js/controllers/post_upload_controller.js
  client/js/util/views.js
Due: docker-build-client

Update
  client/nginx.docker.conf
Due: docker-build-client

Update
  server/nginx/booru
Due: docker-build-server

Update
  client/nginx.docker.conf
  server/nginx/booru
Due: docker-build-client, docker-build-server

Update
  client/js/controls/post_readonly_sidebar_control.js
Due: docker-build-client

Update
  client/js/views/post_main_view.js
Due: docker-build-client

Update
  server/szurubooru/func/image_hash.py
Due: docker-build-server

Update
  client/js/controllers/post_upload_controller.js
  client/js/models/post_list.js
Due: docker-build-client

Update
  client/css/core-general.styl
  client/html/settings.tpl
  client/js/models/post_list.js
  client/js/models/settings.js
  client/js/views/settings_view.js
Due: docker-build-client

Update
  client/config.dev.yaml
  client/config.yaml
  client/html/help_tips.tpl
  client/js/models/post_list.js
Due: docker-build-client

Update
  client/config.yaml
  client/html/help_about.tpl
  client/html/help_tips.tpl
  client/sites.dev.yaml
Due: docker-build-client

Update
  client/js/views/metric_sorter_view.js
  client/package.json
  client/sites.yaml
  server/szurubooru/api/user_api.py
  server/szurubooru/func/posts.py
Due: docker-build-client, docker-build-server
