Repository pelicans45/glebooru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-build-client, docker-build-server

docker-build-client:
  name: Docker - build client
  entry: bash -c 'docker build client/'
  language: system
  pass_filenames: false

docker-build-server:
  name: Docker - build server
  entry: bash -c 'docker build server/'
  language: system
  pass_filenames: false

Update
  client/css/comment-control.styl
  client/css/core-forms.styl
  client/css/core-general.styl
  client/css/tag-list-view.styl
  client/html/posts_header.tpl
  client/html/settings.tpl
  client/html/top_navigation.tpl
  client/js/models/settings.js
  client/js/models/top_navigation.js
  client/js/util/views.js
  client/js/views/top_navigation_view.js
Due: docker-build-client

Update
  client/html/help_keyboard.tpl
  client/html/help_tips.tpl
  client/html/top_navigation.tpl
  client/js/views/post_upload_view.js
Due: docker-build-client

Update
  client/config.dev.yaml
  client/config.yaml
  client/html/comments_page.tpl
  client/html/post_detail.tpl
  client/js/models/settings.js
  client/js/util/views.js
Due: docker-build-client

Update
  client/css/core-general.styl
  client/css/post-content-control.styl
  client/css/post-list-view.styl
  client/css/post-main-view.styl
  client/css/tag-list-view.styl
  client/css/user-view.styl
  client/html/posts_header.tpl
  client/html/score.tpl
  client/js/controllers/post_list_controller_class.js
  client/js/views/posts_header_view.js
  client/js/views/top_navigation_view.js
Due: docker-build-client

Update
  client/js/controllers/post_list_controller_class.js
  client/js/controls/posts_list_tag_auto_complete_control.js
  client/js/views/posts_header_view.js
Due: docker-build-client

Update
  server/szurubooru/api/post_api.py
Due: docker-build-server

Update
  client/css/core-general.styl
  client/css/post-list-view.styl
  client/html/posts_header.tpl
  client/js/controllers/post_list_controller_class.js
Due: docker-build-client

Update
  client/js/controllers/post_list_controller_class.js
  client/js/controls/posts_list_tag_auto_complete_control.js
  client/js/views/posts_header_view.js
  client/sites/bury.pink/img/favicon.png
  client/sites/flube.supply/img/favicon.png
  client/sites/glegle.gallery/img/favicon.png
  client/sites/jej.lol/img/favicon.png
  client/sites/lole.meme/img/favicon.png
  client/sites/spikedog.school/img/favicon.png
  client/sites/yosho.io/img/favicon.png
  server/szurubooru/api/post_api.py
Due: docker-build-client, docker-build-server

Update
  client/nginx.docker.conf
  server/nginx/booru
  server/nginx/etc/include/proxy
Due: docker-build-client, docker-build-server

Update
  server/requirements.txt
Due: docker-build-server

Update
  client/Dockerfile
Due: docker-build-client

Update
  client/config.dev.yaml
  client/config.yaml
  client/css/help-view.styl
  client/html/help_about.tpl
  client/html/help_tips.tpl
  client/js/controllers/auth_controller.js
  client/js/controllers/post_upload_controller.js
  client/sites.yaml
  server/nginx/booru
  server/szurubooru/search/executor.py
Due: docker-build-client, docker-build-server

server/api: add oEmbed and Open Graph
  server/config.yaml.dist
  server/szurubooru/api/__init__.py
  server/szurubooru/api/oembed_api.py
  server/szurubooru/rest/app.py
Due: docker-build-server

server/embed: return html on index error
  server/szurubooru/api/__init__.py
  server/szurubooru/api/embed_api.py
Due: docker-build-server

server/embed: return 404 on post not found
  server/szurubooru/api/embed_api.py
  server/szurubooru/rest/app.py
Due: docker-build-server

server/embed: only serialize post data we actually use
  server/szurubooru/api/embed_api.py
Due: docker-build-server

Update
  client/css/core-forms.styl
  client/css/core-general.styl
  client/css/pager.styl
  client/css/post-list-view.styl
  client/html/posts_header.tpl
  client/html/settings.tpl
  client/js/controllers/post_list_controller_class.js
  client/js/models/settings.js
  client/js/views/posts_page_view.js
  client/js/views/settings_view.js
Due: docker-build-client

Update
  client/Dockerfile
  client/js/views/endless_page_view.js
  client/nginx.docker.conf
  docker-compose.dev.yml
  docker-compose.yml
  server/szurubooru/api/embed_api.py
  server/szurubooru/rest/app.py
  server/szurubooru/search/configs/comment_search_config.py
  server/szurubooru/search/configs/pool_search_config.py
  server/szurubooru/search/configs/post_metric_search_config.py
  server/szurubooru/search/configs/post_search_config.py
  server/szurubooru/search/configs/snapshot_search_config.py
  server/szurubooru/search/configs/tag_search_config.py
  server/szurubooru/search/configs/user_search_config.py
  server/szurubooru/search/executor.py
Due: docker-build-client, docker-build-server

Update
  client/css/post-list-view.styl
  client/css/post-main-view.styl
  client/js/controls/post_content_control.js
  client/js/views/post_main_view.js
Due: docker-build-client

Update
  client/css/comment-control.styl
  client/css/post-list-view.styl
  client/css/post-main-view.styl
Due: docker-build-client

Update
  client/html/help_search_general.tpl
  client/html/help_tips.tpl
  client/js/controllers/post_main_controller.js
  client/js/controllers/post_upload_controller.js
  client/js/controls/post_readonly_sidebar_control.js
  client/js/lens.js
  client/js/views/endless_page_view.js
  client/sites.dev.yaml
  client/sites.yaml
Due: docker-build-client

Update
  client/css/tag-view.styl
  server/szurubooru/api/tag_api.py
Due: docker-build-client, docker-build-server

Update
  client/js/controllers/post_main_controller.js
  client/js/controls/post_edit_sidebar_control.js
  server/szurubooru/api/post_api.py
Due: docker-build-client, docker-build-server

Update
  client/html/posts_page.tpl
  client/js/controllers/post_main_controller.js
  client/js/models/post.js
Due: docker-build-client

Update
  client/js/controllers/post_upload_controller.js
  client/js/models/tag_list.js
Due: docker-build-client

Update
  client/css/post-main-view.styl
  client/html/tag_input.tpl
  client/js/controllers/post_main_controller.js
  client/js/controllers/tag_controller.js
  client/js/controllers/user_registration_controller.js
  client/js/controls/post_edit_sidebar_control.js
  client/js/controls/post_list_tag_auto_complete_control.js
  client/js/models/tag.js
  client/js/views/metric_sorter_view.js
  client/js/views/posts_header_view.js
  server/szurubooru/api/tag_api.py
Due: docker-build-client, docker-build-server

Update
  client/js/controllers/post_upload_controller.js
  client/js/controls/post_list_tag_auto_complete_control.js
Due: docker-build-client

Update
  client/js/controls/post_list_tag_auto_complete_control.js
  server/szurubooru/func/tags.py
Due: docker-build-client, docker-build-server

Update
  client/config.yaml
  client/css/core-forms.styl
  client/css/core-general.styl
  client/html/help_about.tpl
  client/html/help_tips.tpl
  client/html/post_readonly_sidebar.tpl
  client/html/post_upload.tpl
  client/html/posts_page.tpl
  client/html/settings.tpl
  client/html/tags_page.tpl
  client/html/user_edit.tpl
  client/js/controllers/post_list_controller_class.js
  client/js/controllers/top_navigation_controller.js
  client/js/controls/post_content_control.js
  client/js/controls/post_list_tag_auto_complete_control.js
  client/js/controls/post_readonly_sidebar_control.js
  client/js/controls/tag_input_control.js
  client/js/models/settings.js
  client/js/models/top_navigation.js
  client/js/router.js
  client/js/util/misc.js
  client/js/util/views.js
  client/js/views/endless_page_view.js
  client/js/views/manual_page_view.js
  client/js/views/post_main_view.js
  client/js/views/posts_header_view.js
  client/js/views/posts_page_view.js
  client/js/views/top_navigation_view.js
  client/sites/spikedog.school/img/favicon.png
  server/nginx/booru
  server/szurubooru/api/embed_api.py
  server/szurubooru/api/post_api.py
  server/szurubooru/api/tag_api.py
  server/szurubooru/api/user_api.py
  server/szurubooru/func/net.py
  server/szurubooru/func/posts.py
  server/szurubooru/func/users.py
  server/szurubooru/rest/context.py
  server/szurubooru/search/configs/post_search_config.py
Due: docker-build-client, docker-build-server

Update
  client/css/comment-control.styl
  client/css/comment-list-view.styl
  client/css/core-general.styl
  client/css/post-content-control.styl
  client/css/post-list-view.styl
  client/css/post-main-view.styl
  client/css/post-upload.styl
  client/css/tag-view.styl
  client/css/user-list-view.styl
  client/html/comment.tpl
  client/html/fav.tpl
  client/html/manual_pager_nav.tpl
  client/html/post_main.tpl
  client/html/post_readonly_sidebar.tpl
  client/html/score.tpl
  client/html/tag.tpl
  client/js/controls/post_readonly_sidebar_control.js
  client/js/models/settings.js
  client/js/util/views.js
  client/js/views/post_main_view.js
Due: docker-build-client

Update
  client/js/router.js
  server/szurubooru/api/user_api.py
  server/szurubooru/rest/app.py
Due: docker-build-client, docker-build-server

Update
  client/css/core-general.styl
  client/css/post-list-view.styl
  client/html/posts_page.tpl
  client/js/models/top_navigation.js
  client/js/views/endless_page_view.js
  client/js/views/manual_page_view.js
  client/js/views/top_navigation_view.js
Due: docker-build-client

Update
  client/css/post-list-view.styl
  client/html/post_upload.tpl
  client/html/posts_page.tpl
  client/html/user_registration.tpl
  client/js/util/views.js
  client/js/views/top_navigation_view.js
Due: docker-build-client

Update
  client/html/posts_page.tpl
  client/js/views/posts_page_view.js
Due: docker-build-client

Update
  client/html/post_upload.tpl
Due: docker-build-client

Update
  client/css/tag-list-view.styl
  client/js/controllers/tag_list_controller.js
  client/js/models/settings.js
Due: docker-build-client

Update
  client/html/help_tips.tpl
Due: docker-build-client

Path conditions:
  docker-build-client: any of: client/, but not: LICENSE.md
  docker-build-server: any of: server/, but not: LICENSE.md
