Repository pelicans45/glebooru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-build-client, docker-build-server

docker-build-client:
  name: Docker - build client
  entry: bash -c 'docker build client/'
  language: system
  pass_filenames: false

docker-build-server:
  name: Docker - build server
  entry: bash -c 'docker build server/'
  language: system
  pass_filenames: false

Update
  client/js/models/post.js
Due: docker-build-client

Update
  client/package-lock.json
  client/package.json
Due: docker-build-client

Update
  package-lock.json
Due: none

Update
  client/css/post-main-view.styl
  client/html/post_readonly_sidebar.tpl
  client/js/controls/post_readonly_sidebar_control.js
Due: docker-build-client

Update
  client/js/api.js
  d
Due: docker-build-client

Update
  client/js/api.js
Due: docker-build-client

Update
  d
Due: none

Update
  client/sites/lole.meme/css/site.styl
Due: docker-build-client

Update
  client/nginx.docker.conf
  d
  docker-compose.dev.yml
  docker-compose.yml
  glebooru-renderer/Dockerfile
  glebooru-renderer/package-lock.json
  glebooru-renderer/package.json
  glebooru-renderer/renderer.js
  server/nginx/booru
  server/nginx/etc/dev
Due: docker-build-client, docker-build-server

Update
  client/html/help_about.tpl
  client/js/util/views.js
  server/szurubooru/func/snapshots.py
Due: docker-build-client, docker-build-server

Update
  docker-compose.dev.yml
  docker-compose.yml
  renderer/Dockerfile
  renderer/package-lock.json
  renderer/package.json
  renderer/renderer.js
  server/nginx/etc/dev
Due: docker-build-server

Update
  client/nginx.docker.conf
  docker-compose.yml
  renderer/renderer.js
  server/nginx/booru
  server/nginx/etc/dev
  server/nginx/etc/include/proxy
Due: docker-build-client, docker-build-server

Update
  client/nginx.docker.conf
  server/nginx/booru
Due: docker-build-client, docker-build-server

Update
  server/nginx/booru
Due: docker-build-server

Update
  renderer/renderer.js
Due: none

Update
  renderer/Dockerfile
  renderer/hosts
Due: none

Update
  renderer/Dockerfile
Due: none

Update
  client/js/util/views.js
Due: docker-build-client

Suggest tags that are equal to the query
  client/js/tags.js
Due: docker-build-client

Update
  server/szurubooru/func/posts.py
Due: docker-build-server

Update
  client/js/controls/post_readonly_sidebar_control.js
  client/js/models/post_list.js
  server/szurubooru/api/post_api.py
  server/szurubooru/func/posts.py
Due: docker-build-client, docker-build-server

Update
  client/js/controls/tag_input_control.js
Due: docker-build-client

Update
  client/js/controls/post_list_tag_auto_complete_control.js
Due: docker-build-client

Update
  server/szurubooru/api/post_api.py
Due: docker-build-server

Update
  client/html/pool.tpl
  client/html/pool_summary.tpl
  client/html/settings.tpl
  client/html/snapshots_page.tpl
  client/js/controllers/post_main_controller.js
  client/js/models/post.js
  client/js/models/post_list.js
  client/js/util/markdown.js
  client/js/util/misc.js
  client/js/util/search.js
  client/js/util/views.js
  client/js/views/pool_merge_view.js
  client/js/views/snapshots_page_view.js
  client/testing/querystring/.History.md.un~
  client/testing/querystring/.Readme.md.un~
  client/testing/querystring/.package.json.un~
  client/testing/querystring/test/.index.js.un~
  d
  docker-compose.dev.yml
  docker-compose.yml
  renderer/Dockerfile
  renderer/hosts
  renderer/package-lock.json
  renderer/package.json
  renderer/renderer.js
  server/nginx/booru
  server/nginx/etc/dev
  server/szurubooru/api/post_api.py
  server/szurubooru/func/auth.py
Due: docker-build-client, docker-build-server

Update
  client/testing/querystring/.History.md.un~
  client/testing/querystring/.Readme.md.un~
  client/testing/querystring/.package.json.un~
  client/testing/querystring/test/.index.js.un~
Due: docker-build-client

Update
  AGENTS.md
  CLAUDE.md
  server/szurubooru/api/post_api.py
Due: docker-build-server

Attempted search indexing fixes
  client/html/index.html
  client/js/controllers/base_post_controller.js
  client/js/controllers/pool_controller.js
  client/js/controllers/tag_controller.js
  client/js/controllers/user_controller.js
  client/js/models/top_navigation.js
  client/js/util/seo.js
  client/js/views/not_found_view.js
Due: docker-build-client

Update
  client/css/core-forms.styl
  client/css/tag-view.styl
  client/html/post_edit_sidebar.tpl
  client/html/tag_summary.tpl
  client/js/models/post.js
  client/js/models/tag.js
  client/js/models/tag_list.js
  client/js/util/misc.js
  client/js/views/post_merge_view.js
  server/szurubooru/api/post_api.py
  server/szurubooru/func/mime.py
  server/szurubooru/func/posts.py
  server/szurubooru/func/tags.py
  server/szurubooru/migrations/versions/b6d3e94cf0b1_merge_nullable_feature_and_anonymous_user_heads.py
Due: docker-build-client, docker-build-server

Update
  server/szurubooru/func/images.py
  server/szurubooru/func/posts.py
  server/szurubooru/tests/func/test_posts.py
Due: docker-build-server

Update
  client/js/controllers/post_upload_controller.js
  client/js/models/post.js
  client/js/tags.js
  client/js/views/post_upload_view.js
  server/szurubooru/api/post_api.py
  server/szurubooru/func/posts.py
  server/szurubooru/func/tags.py
  server/szurubooru/tests/api/test_post_updating.py
  server/szurubooru/tests/func/test_posts.py
Due: docker-build-client, docker-build-server

Update
  client/js/views/endless_page_view.js
  client/js/views/manual_page_view.js
  deploy
Due: docker-build-client

Fix query error
  server/szurubooru/func/posts.py
Due: docker-build-server

Update
  server/szurubooru/api/post_api.py
  server/szurubooru/func/images.py
  server/szurubooru/func/posts.py
  server/szurubooru/migrations/versions/c9f0d3b1a2e7_add_duration_to_posts.py
  server/szurubooru/model/post.py
Due: docker-build-server

Update
  deploy
Due: none

Auto-commit before deploy 20251224-154519
  deploy
Due: none

Add CORS headers for media
  client/nginx.docker.conf
Due: docker-build-client

Path conditions:
  docker-build-client: any of: client/, but not: LICENSE.md
  docker-build-server: any of: server/, but not: LICENSE.md
